{% extends "layout.html" %}

{% block pageTitle %}
  Landing page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Pay for the Dartford Crossing (Dart Charge)</span>

      <h1 class="govuk-heading-xl">
        What would you like to do?
      </h1>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dart-charge" name="dart-charge" type="radio" value="one-off">
        <label class="govuk-label govuk-radios__label" for="dart-charge">
          <h3 class="govuk-heading-s">Pay as a guest (past or future crossings)</h3>
          <p style="margin: -10px 0 0 0;">Make a payment without creating an account. You can pay for crossings you've made since yesterday, and future crossings for the next 12 months.</p>
        </label>
      </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="dart-charge-2" name="dart-charge" type="radio" value="account">
      <label class="govuk-label govuk-radios__label" for="dart-charge-2">
        <h3 class="govuk-heading-s">Pay with an account (future crossings only)</h3>
        <p style="margin: -10px 0 0 0;">Create an account to automatically pay for future crossings without needing to remember each time you cross. You'll get a discount if you pre-pay. You can pay even less if you're a resident of Dartford or Thurrock.</p>
      </label>
    </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dart-charge-3" name="dart-charge" type="radio" value="pcn">
        <label class="govuk-label govuk-radios__label" for="dart-charge-3">
          <h3 class="govuk-heading-s">Resolve a penalty charge notice (PCN)</h3>
          <p style="margin: -10px 0 0 0;">Pay or challenge a PCN. You'll get a PCN if you don't pay for a crossing by midnight the next day.</p>
        </label>
      </div>
    </div>

  </fieldset>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

    </div>
  </div>

{% endblock %}
